button.clippy {
  border: none;
  padding: 0px;
  img {
    width:  18px;
    height: 18px;
  }
}
span.space {
  width: 4em;
}
video {
  &.video-self {
    width: 320px;
    height: 240px;
  }
  &.video-other {
    width: 320px;
    height: 240px;
  }
}
